<h1>Makersbnb</h1>

<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<h2>Venues</h2>
<br>
<form action="/user/id">
<input type="submit" value="Manage guest requests">
</form>
<form action="/venues/new">
<input type="submit" value="Add new venue">
</form>
<br>

<h2><%= flash[:notice] %></h2>

<% @venues.each do |venue| %>
  Venue name: <%= venue.name %>
  <br>
  Description: <%= venue.description %>
  <br>
  Price_per_night: <%= venue.price_per_night %> per night
  <br>
  Date: <%= venue.date %>
  <br>
  <form action="/venues/list/request">
  <input type="submit" name="request_booking" value="Request booking">
  <input type="submit" name="cancel_request" value="Cancel request">
  </form>
  <br>
  <br>
<% end %>
